body {
    font-family: Arial;
    padding: 20px;
}
a {
    display: block;
    padding: 5px 0;
}
table {
    border-collapse: collapse;
    width: 80%;
}
td, th {
    padding: 8px;
    border: 1px solid black;
}
